
.app {
  background: rgb(202, 231, 229);
  width: 100%;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  min-height: 7vh;
  display: listitem;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background: rgba(29, 161, 242, 1);
}

.navbar .nav-links {
  width: 40%;
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar .nav-links>a{
  color: #fff;
  text-decoration: none;
}

.navbar .nav-links>a:hover{
  color: #3317e7;
  text-decoration: underline;
}

.navbar .nav-links>a:active{
  color: #180adf;
  text-decoration: none;
}

.home {
  text-align: center;

}

.homeCard {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 5 00px;
  height: 150px;
  margin: 0 auto; 
  font-size: 20px;
  font: green;
}