
.app {
  background: rgb(202, 231, 229);
  width: 100%;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  min-height: 7vh;
  display: listitem;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background: rgba(29, 161, 242, 1);
}

.navbar .nav-links {
  width: 40%;
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar .nav-links>a{
  color: #fff;
  text-decoration: none;
}

.navbar .nav-links>a:hover{
  color: #3317e7;
  text-decoration: underline;
}

.navbar .nav-links>a:active{
  color: #180adf;
  text-decoration: none;
}

.home {
  text-align: center;

}

.homeCard {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 50;
  height: 150px;
  margin: 0 auto; 
  font-size: 20px;
  font: green;
}

.login {
  background: rgb(185, 221, 240);
 height: 700px;
 width: max;
 padding-left: 300px;
 border-radius: 5px;
}

.loginForm {
  box-shadow: 4px 4px 8px 4px rgba(234, 35, 35, 0.452);
  width: 250px;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  background: rgb(185, 240, 216);
}
.loginInput{
  width: 200px;
  height: 30px;
  font-size: 20px;
  border-color: blue;
}
#button {
  color: whitesmoke;
  background-color: blue;
  font-weight: bold;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}