
.app {
  background: rgb(202, 231, 229);
  width: 100%;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  min-height: 7vh;
  display: listitem;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background: rgba(29, 161, 242, 1);
}

.navbar .nav-links {
  width: 40%;
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar .nav-links>a{
  color: #fff;
  text-decoration: none;
}

.navbar .nav-links>a:hover{
  color: #3317e7;
  text-decoration: underline;
}

.navbar .nav-links>a:active{
  color: #180adf;
  text-decoration: none;
}

.home {
  text-align: center;

}

.homeCard {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 50;
  height: 150px;
  margin: 0 auto; 
  font-size: 20px;
  font: green;
}

.login {
background: rgb(185, 221, 240);
 height: 100vh;;
 width: max;
 padding-left: 30px;
 border-radius: 5px;
}

.loginForm {
  box-shadow: 4px 4px 8px 4px rgba(234, 35, 35, 0.452);
  width: 250px;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  background: rgb(185, 240, 216);
}
.loginInput{
  width: 200px;
  height: 30px;
  font-size: 20px;
  border-color: blue;
}
#button {
  color: whitesmoke;
  background-color: blue;
  font-weight: bold;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.signup {
  background: rgba(138, 219, 241, 0.941);
   height: 100vh;;
   width: max;
   padding-left: 30px;
   border-radius: 5px;
  }

.signupForm {
  box-shadow: 4px 4px 8px 4px rgba(165, 10, 10, 0.452);
  width: 250px;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  background: rgb(80, 230, 165);
}

.signupInput{
  width: 200px;
  height: 30px;
  font-size: 20px;
  border-color: blue;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.gamePage {
  background: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

#instructionsSection {
  width: 20%;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
  background-color: #fcf1f1;
  border: 1px solid #ccc;
  float: left;
}

#gameSection {
  width: 50%;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
  background-color: #d0d0d0;
  border: 1px solid #ccc;
  float: left;
}

#reviewsSection {
  width: 30%;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
  background-color: #fcf1f1;
  border: 1px solid #ccc;
  float: left;
}

/* Clearing floats to prevent layout issues */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
 
#table {
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  padding-top: 30px;
  padding-bottom: 40px;
}

#newGame {
  background: rgb(104, 104, 249);
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
}

#timer {
  font-size: 30px;
  border: 2px solid #73AD21;
  background: #d2fb98;
  width: 100px;
  height: 40px;
  justify-content: right;  
}

 #pauseResume {
  background: rgb(136, 136, 251);
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
 }

